<!DOCTYPE HTML>
{% load static %}
<html lang="pl">
    <head>
        {% include "../../head.html" %}
    </head>

    <body>
        <div id="logo">HumanApp Człeki</div>
</br></br>
        <h3>Daty podawać w formacie:<p style="color: red;">RRRR-MM-DD GG:MM:SS</p></h3>

        <div id="content" style="clear:both;">
            <form action="/ui/humans/resources/tests/add/" method="post">
                {% csrf_token %}

                <label for="id_medical_test_name">Nazwa badania:</label>
                <input type="text" name="medical_test_name" maxlength="128" required id="id_medical_test_name"></br></br>

                <label for="id_description">Opis:</label>
                <input type="text" name="description" maxlength="256" required id="id_description"></br></br>

                <input type="submit" value="Dodaj">
            </form>
        </div>
    </body>
</html>