{% load static %}
<div id="logo"><img src="{% static 'humans_ui/logo.png' %}" style="with: 35px; height: 35px;"> HumanApp Człeki</div>
<div style="float: left;">
    <div class="button" style="float: left;"><a href="/ui/humans/">Główna</a></div>
</div>
<div id="menu">
    <div class="menu_tile"><a href="/ui/humans/resources/treatments/">Zabiegi</a></div>
    <div class="menu_tile"><a href="/ui/humans/resources/diseases/">Choroby</a></div>
    <div class="menu_tile"><a href="/ui/humans/resources/tests/">Badania</a></div>
    <div class="menu_tile"><a href="/ui/humans/resources/clinics/">Kliniki</a></div>
</div>