{% load static %}

<meta charset="utf8"/>
<title>HumanApp</title>
<meta name="description" content="HumanApp"/>
<meta name="keywords" content="człeki, zdrowie, dottore"/>
<meta name="author" content="Łukasz Paciorek">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="stylesheet" type="text/css" href="{% static 'humans_ui/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="/media/logo.png"/>