<!DOCTYPE HTML>
{% load static %}
<html lang="pl">
    <head>
        {% include "./head.html" %}
    </head>

    <body>
        {% include "./menus_2.html" %}

        <div class="button" style="clear:both;"><a href="/ui/humans/{{pk}}/human/weight/add/">Dodaj</a></div>
        <div id="title" style="text-align: justify;">Waga człeka</div>

        <div id="content" style="clear:both;">
            <fieldset>
                {% if human_weight_list %}
                <legend><h1>{{human_weight_list.0.human.name}}</h1></legend>
                <ul>
                    {% for human_weight in human_weight_list %}
                    <li>id: {{human_weight.id}}</br>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        Data pomiaru: {{human_weight.date_of_measurement|date:'Y-m-d'}}</br>
                        Waga: {{human_weight.weight}}</br>
                        <div class="button"><a href="/ui/humans/{{human_weight.human.id}}/human/weight/modify/{{human_weight.id}}/">Edytuj</a></div>
                    </li></br>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No weight measurements are available.</p>
                {% endif %}
            </fieldset>
        </div>
    </body>
</html>