<!DOCTYPE HTML>
{% load static %}
<html lang="pl">
    <head>
        {% include "../head.html" %}
    </head>

    <body>
        <div id="logo">HumanApp Człeki</div>
</br></br>
        <h3>Daty podawać w formacie:<p style="color: red;">RRRR-MM-DD</p></h3>

        <div id="content" style="clear:both;">
            <form action="/ui/humans/{{pk}}/human/treatments/add/update/{{id}}/" method="post">
                {% csrf_token %}

                <label for="id_treatment_update">Wpis:</label>
                <input type="text" name="treatment_update" required id="id_treatment_update"></br></br>

                <input type="submit" value="Dodaj">
            </form>
        </div>
    </body>
</html>